    <div class="row below_the_fixed">

      <div class=""> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->
 <div class="form_background">

  <%= form_for [@post] do |f| %>
      <div style="margin: 8px 0">
            <%= f.text_area :title, placeholder: 'タイトル (20文字まで)',id: 'new_posts_title' %>
          </div>
          <div style="margin: 8px 0">
            <%= f.text_area :text, placeholder: '本文 (400文字まで)', style: 'width: 100%;height: 300px;',id: 'new_posts' %>
          </div>
          <div class="">
            <div class="">
              <%= f.submit value: "投稿する", id: "submit_btn"%>
              <i class="icon-arrow-right"></i>
              <% end %>

           </div>
  <% else %>
  <div class="return-top">
   <a class="left" href="/posts"><i class="material-icons left">arrow_back</i>トップに戻る</a>
 </div>
      </div>
    </div>
  </body>
</html>







